$main: rgba(37, 22, 122, 1);
$lblue: rgba(0, 167, 211, 1);
$dblue: rgba(45, 108, 192, 1);
$green: rgba(122, 161, 0, 1);
$red: rgba(211, 17, 69, 1);
$bred: rgba(137, 6, 86, 1);
$orange: rgba(239, 166, 29, 1);
$yellow: rgba(255, 210, 0, 1);

body {
	padding: 50px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#notify {
	display: flex;
	flex-direction: column-reverse;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
}